

.container-flex {
    display:flex;
    flex-wrap: wrap;
}

.flex-1 {
    flex-basis: 70%;
}

.flex-1-control-bar {
    flex-basis: 30%;
}

.flex-2 {
    flex-basis: 30%;
}

.flex-2-control-bar {
    flex-basis: 70%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin:auto;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:15px;
    height:15px;
    background: #4CAF50;
    cursor: pointer;
}

.slider.slider-red::-webkit-slider-thumb {
    background: rgb(250, 0, 0);
}
.slider.slider-green::-webkit-slider-thumb {
    background: rgb(0, 250, 0);
}
.slider.slider-blue::-webkit-slider-thumb {
    background: rgb(0, 0, 250);
}

.loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: auto;
    z-index: 70;
  }
  
.spinner {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin:auto;
border: 16px solid #f4f4f4;
border-top: 16px solid #3498db;
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
z-index: 75;
}

.color-view{
    width: 30px;
    height:30px;
    border-radius: 50%;
    border-width: 2px;
}

.control-side-bar {
    position:absolute;
    width: 0px;
    height: 100vh;
    top: 0;
    left: -250px;
    transition: .40s;
}

.control-side-bar-active {
    position:absolute;
    color: #fff;
    background: rgba(50, 50, 50, 0.7);
    width: 18vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: .40s;
    box-shadow: 10px 0px 10px rgba(0,0,0,.1);
    padding: 20px;
    z-index: 100;
}

.panel-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .40s;
    z-index: 65;
}
.panel-toggle span {
  width: 30px;
  height: 3px;
  background: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  transition: .40s;
}
.panel-toggle span:before {
width: 30px;
height: 3px;
background: #FFF;
position: absolute;
top: 7px;
right: 0;
content: '';
transition: .40s;
}

.panel-toggle span:after {
width: 30px;
height: 3px;
background: #FFF;
position: absolute;
top: 14px;
right: 0;
content: '';
transition: .40s;
}

/* Close btn */
.panel-toggle-close {
  position: absolute;
  background: none;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .40s;
  z-index: 65;
}

.panel-toggle-close span {
width: 30px;
height: 3px;
background: #FFF;
position: absolute;
top: 10px;
right: 0;
border-radius: 3px;
transition: .40s;
transform: rotate(45deg);
}
.panel-toggle-close span:before {
width: 100%;
height: 3px;
border-radius: 3px;
content: '';
position: absolute;
top: 7px;
right: 0;
background: transparent;
transition: .40s
}
.panel-toggle-close span:after {
width: 100%;
height: 3px;
border-radius: 3px;
content: '';
position: absolute;
top: 0px;
right: 0;
background: #FFF;
transition: .40s;
transform: rotate(-90deg);
}

@media (max-width: 575px) {
    .flex-1 {
        flex-basis: 100%;
    }

    .flex-1-control-bar {
        flex-basis: 100%;
        height: 20px;
    }    

    .flex-2 {
        margin-top: 15px;
        margin-bottom: 15px;
        flex-basis: 100%;
    }

    .flex-2-control-bar {
        flex-basis: 100%;
        height: 20px;
    }   

    .control-side-bar {
        position:absolute;
        width: 0px;
        height: 100vh;
        top: 0;
        left: -250px;
        transition: .40s;
    }
    
    .control-side-bar-active {
        position:absolute;
        color: #fff;
        background: rgba(50, 50, 50, 0.9);
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        transition: .40s;
        padding: 20px;
    }

    .more{
        display:block;
        margin: auto;
    }
}