<!--The content below is only a placeholder and can be replaced.-->
<div class="loading-overlay" id="loading-overlay">
    <div class="spinner"></div>        
</div>


<div class="container">
    
  <div class="top text-center mt-4 mb-4">
    <h3 style="color:#555">Arcgis Example</h3>
  </div>

  <div class="container-flex">
    <div class="flex-1">
      <div class="mapControl">
        <div class="btn-group btn-group-toggle mb-2" ngbRadioGroup name="radioBasic" [(ngModel)]="currentMap">
          <label *ngFor="let mapType of maps" ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="{{mapType}}" (click)="onSelect(mapType == 'topology'? 'topo': mapType)"> 
            {{mapType=="topo"? "Topology": mapType}}
          </label>
        </div>

        <button type="button" class="btn btn-outline-primary mb-2 more" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="controlBox">
            More
          </button>
        
      </div>
    </div>

    <div class="flex-2"></div>
  </div>

  <div class="container-flex" style="height:100%">
    <div class="flex-1">
        <app-esri-map [_mapSelected]="mapSelected" [_opacityChanged]="opacityChanged" [_outlineChanged]="outlineChanged" (mapLoaded)="onMapLoaded()" style="height:100%"></app-esri-map> 
    </div>

    <div class="flex-2">
        <div class="card" style="height:70%;">
          <div class="card-body" style="height:70%;" id="subregion-detail">
            This is where subregion information goes
          </div>
        </div>
    </div>
  </div>

  <div class="bottom">

  </div>
</div>

<div class="{{isCollapsed? 'control-side-bar': 'control-side-bar-active'}}">
    <button class="{{isCollapsed? 'panel-toggle': 'panel-toggle-close'}}" (click)="isCollapsed = !isCollapsed">
        <span></span>
    </button>
    <div class="row">
      <div class="col-sm-4">
          <p>Layer Opacity:</p>
      </div>
      <div class="col-sm-8">
        <!-- Maybe add two more opacity: only for lines, only for body if possible
              and make the sliders vertical in a group -->
              <input type="range" min="0" max="1" value="0.6" step="0.1" class="slider" (change)="onChangeOpacity($event)"/>
              <!-- <input type="range" min="0" max="255" value="255" step="1" class="slider slider-red" (change)="onChangeOutlineColor()"/>
              <input type="range" min="0" max="255" value="255" step="1" class="slider slider-green" (change)="onChangeOutlineColor()"/>
              <input type="range" min="0" max="255" value="255" step="1" class="slider slider-blue" (change)="onChangeOutlineColor()"/> -->
      </div>
    </div>
          
</div>

