@import 'https://js.arcgis.com/4.6/esri/css/main.css';

.no-display{
  display:none;
}

.esri-view {
  height: 70%;
  width: 100%;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.panel-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.panel-side {
  padding: 2px;
  box-sizing: border-box;
  width: 20vw;
  height: 70%;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 60;
}

.panel-side h2 {
  padding: 0 20px;
  margin: 20px 0;
}

.panel-side ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* .panel-side li {
  list-style: none;
  padding: 10px 20px;
}

.panel-result {
  cursor: pointer;
  margin: 2px 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.panel-result:hover,
.panel-result:focus {
  color: orange;
  background-color: rgba(0, 0, 0, 0.75);
} */

.panel-refresh {
  position: absolute;
  top: 15px;
  right: 45px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 65;
}

.panel-refresh i{
  color:#fff;
  font-size: 1.6rem;
}

.panel-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .40s;
  z-index: 65;
}
.panel-toggle span {
width: 30px;
height: 3px;
background: #FFF;
position: absolute;
top: 0;
right: 0;
transition: .40s;
}
.panel-toggle span:before {
width: 30px;
height: 3px;
background: #FFF;
position: absolute;
top: 7px;
right: 0;
content: '';
transition: .40s;
}

.panel-toggle span:after {
width: 30px;
height: 3px;
background: #FFF;
position: absolute;
top: 14px;
right: 0;
content: '';
transition: .40s;
}

/* Close btn */
.panel-toggle-close {
position: absolute;
background: none;
top: 15px;
right: 15px;
width: 30px;
height: 30px;
border: none;
outline: none;
cursor: pointer;
transition: .40s;
z-index: 65;
}

.panel-toggle-close span {
width: 30px;
height: 3px;
background: #FFF;
position: absolute;
top: 10px;
right: 0;
border-radius: 3px;
transition: .40s;
transform: rotate(45deg);
}
.panel-toggle-close span:before {
width: 100%;
height: 3px;
border-radius: 3px;
content: '';
position: absolute;
top: 7px;
right: 0;
background: transparent;
transition: .40s
}
.panel-toggle-close span:after {
width: 100%;
height: 3px;
border-radius: 3px;
content: '';
position: absolute;
top: 0px;
right: 0;
background: #FFF;
transition: .40s;
transform: rotate(-90deg);
}

@media (max-width: 575px) {
  .panel-container {
    height: 70%;
  }
  .panel-side {
    display:none;
  }
  .esri-view {
    height: 100%;
  }
  .panel-toggle{
    display:none;
  }
  .panel-toggle-close {
    display:none;
  }
}